@import url('https://fonts.googleapis.com/css?family=Amarante');

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }


/** page structure **/

#keywords {
  margin: 0 auto;
  font-size: 1.2em;
  margin-bottom: 15px;
}


#keywords thead {
  cursor: pointer;
  background: #c9dff0;
}
#keywords thead tr th { 
  font-weight: bold;
  padding: 6px 9px;
  padding-left: 15px;
}
#keywords thead tr th span { 
  padding-right: 10px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

#keywords thead tr th.headerSortUp, #keywords thead tr th.headerSortDown {
  background: #acc8dd;
}

#keywords thead tr th.headerSortUp span {
  background-image: url('https://i.imgur.com/SP99ZPJ.png');
}
#keywords thead tr th.headerSortDown span {
  background-image: url('https://i.imgur.com/RkA9MBo.png');
}


#keywords tbody tr { 
  color: #555;
}
#keywords tbody tr td {
  text-align: center;
  padding: 8px 10px;
  border-top: 2px solid #7773;
}
#keywords tbody tr td.lalign {
  text-align: left;
}